#include "resource.h"
#include <windows.h>

IDR_CLANG_FORMAT BINARY "res\\clang-format.exe"

IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 200, 120
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Clang Format Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Style:",-1,10,10,30,8
    COMBOBOX        IDC_STYLE_COMBO,60,8,130,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    LTEXT           "Indent Width:",-1,10,30,45,8
    EDITTEXT        IDC_INDENT_WIDTH,60,28,130,14,ES_AUTOHSCROLL | ES_NUMBER
    
    LTEXT           "Use Tab:",-1,10,50,45,8
    COMBOBOX        IDC_USE_TAB_COMBO,60,48,130,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    DEFPUSHBUTTON   "OK",IDOK,85,95,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,140,95,50,14
END
