#include <windows.h>
#include "resource.h"

IDD_DATA_VIEWER DIALOGEX 0, 0, 500, 350
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Data Viewer"
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    LTEXT           "Filter:",IDC_STATIC,7,9,20,8
    EDITTEXT        IDC_SEARCH_TEXT,30,7,200,14,ES_AUTOHSCROLL
    PUSHBUTTON      "Filter",IDC_SEARCH_BTN,235,7,50,14
    
    CONTROL         "",IDC_DATA_TREE,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,7,25,280,318
    
    GROUPBOX        "Selected Item",IDC_STATIC,295,25,198,200
    LTEXT           "Name:",IDC_STATIC,305,40,30,8
    EDITTEXT        IDC_EDIT_NAME,340,38,145,14,ES_AUTOHSCROLL
    
    LTEXT           "Type:",IDC_STATIC,305,60,30,8
    COMBOBOX        IDC_COMBO_TYPE,340,58,145,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    LTEXT           "Value:",IDC_STATIC,305,80,30,8
    EDITTEXT        IDC_EDIT_VALUE,305,92,180,100,ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL
    
    PUSHBUTTON      "Update Item",IDC_BTN_UPDATE,305,200,80,14
    
    GROUPBOX        "Structure",IDC_STATIC,295,230,198,90
    PUSHBUTTON      "Add Child",IDC_BTN_ADD,305,245,80,14
    PUSHBUTTON      "Delete Item",IDC_BTN_DELETE,395,245,80,14
    PUSHBUTTON      "Move Up",IDC_BTN_MOVE_UP,305,265,80,14
    PUSHBUTTON      "Move Down",IDC_BTN_MOVE_DOWN,395,265,80,14
    PUSHBUTTON      "Duplicate",IDC_BTN_DUPLICATE,305,285,80,14
    
    PUSHBUTTON      "Save Changes to Editor",IDC_BTN_SAVE,350,329,143,14
    PUSHBUTTON      "Close",IDCANCEL,295,329,50,14
END
