#include <windows.h>
#include "resource.h"

IDD_SETTINGS_DLG DIALOGEX 0, 0, 250, 140
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Neon Settings"
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    LTEXT           "Theme:",IDC_STATIC_THEME,15,15,40,8
    COMBOBOX        IDC_THEME_COMBO,60,13,170,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Font:",IDC_STATIC_FONT,15,40,40,8
    COMBOBOX        IDC_FONT_COMBO,60,38,170,100,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Size:",IDC_STATIC_SIZE,15,65,40,8
    COMBOBOX        IDC_FONT_SIZE_COMBO,60,63,60,100,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP

    DEFPUSHBUTTON   "Save",IDC_BTN_SAVE,125,110,50,14
    PUSHBUTTON      "Cancel",IDC_BTN_CANCEL,180,110,50,14
END
