#include <windows.h>
#include "resource.h"

IDD_EMOJI_PICKER DIALOGEX 0, 0, 300, 200
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Emoji Picker"
FONT 12, "Segoe UI Emoji", 400, 0, 0x1
BEGIN
    LTEXT           "Search:",-1,7,9,26,8
    EDITTEXT        IDC_EMOJI_SEARCH,35,7,258,14,ES_AUTOHSCROLL
    LISTBOX         IDC_EMOJI_LIST,7,25,286,168,LBS_NOINTEGRALHEIGHT | LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP
END
