#include <windows.h>
#include "resource.h"

IDD_ADVANCED_SEARCH DIALOGEX 0, 0, 450, 350
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Advanced Search"
FONT 8, "MS Shell Dlg 2", 400, 0, 0x1
BEGIN
    LTEXT           "Find what:",IDC_STATIC_FIND_LABEL,7,9,35,8
    EDITTEXT        IDC_SEARCH_TEXT,45,7,340,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Find All",IDC_SEARCH_BTN,393,7,50,14
    
    LTEXT           "Replace with:",IDC_STATIC_REPLACE_LABEL,7,26,45,8
    EDITTEXT        IDC_REPLACE_TEXT,55,24,330,14,ES_AUTOHSCROLL
    PUSHBUTTON      "Replace All",IDC_REPLACE_ALL_BTN,393,24,50,14

    GROUPBOX        "Options",IDC_STATIC_OPTIONS_GROUP,7,42,436,28
    CONTROL         "Regular Expression",IDC_SEARCH_REGEX,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,53,80,10
    CONTROL         "Fuzzy Match",IDC_SEARCH_FUZZY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,100,53,60,10
    
    LTEXT           "Results:",IDC_STATIC_RESULTS_LABEL,7,75,40,8
    CONTROL         "",IDC_SEARCH_PROGRESS,"msctls_progress32",WS_BORDER,50,75,393,10
    LISTBOX         IDC_SEARCH_LIST,7,87,436,220,LBS_NOINTEGRALHEIGHT | LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP | WS_HSCROLL
    
    PUSHBUTTON      "Previous",IDC_PREV_PAGE,7,314,50,14
    EDITTEXT        IDC_PAGE_INFO,65,315,40,12,ES_AUTOHSCROLL | ES_NUMBER | ES_CENTER
    LTEXT           "/ 1",IDC_PAGE_TOTAL,110,317,50,8
    PUSHBUTTON      "Next",IDC_NEXT_PAGE,170,314,50,14

    PUSHBUTTON      "Replace Selected",IDC_REPLACE_BTN,250,314,70,14
    PUSHBUTTON      "Close",IDCANCEL,393,314,50,14
END
