#include <windows.h>
#include "resource.h"

IDI_ICON ICON "just_notepad.ico"

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N", ID_FILE_NEW
        MENUITEM "&Open...\tCtrl+O", ID_FILE_OPEN
        POPUP "Open &Recent"
        BEGIN
            MENUITEM "Empty", ID_FILE_RECENT_FIRST, GRAYED
        END
        MENUITEM "&Save\tCtrl+S", ID_FILE_SAVE
        MENUITEM "Save &As...\tCtrl+Shift+S", ID_FILE_SAVEAS
        MENUITEM "Discard Changes", ID_FILE_RELOAD
        MENUITEM SEPARATOR
        MENUITEM "Page Set&up...", ID_FILE_PAGESETUP
        MENUITEM "&Print...\tCtrl+P", ID_FILE_PRINT
        MENUITEM SEPARATOR
        POPUP "&Encoding"
        BEGIN
            MENUITEM "&ANSI", ID_ENCODING_ANSI
            MENUITEM "&UTF-8", ID_ENCODING_UTF8
            MENUITEM "UTF-16 &LE", ID_ENCODING_UTF16LE
            MENUITEM "UTF-16 &BE", ID_ENCODING_UTF16BE
        END
        MENUITEM "&Read Only", ID_FILE_TOGGLEREADONLY
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z", ID_EDIT_UNDO
        MENUITEM "&Redo\tCtrl+Y", ID_EDIT_REDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X", ID_EDIT_CUT
        MENUITEM "&Copy\tCtrl+C", ID_EDIT_COPY
        MENUITEM "&Paste\tCtrl+V", ID_EDIT_PASTE
        MENUITEM "De&lete\tDel", ID_EDIT_DELETE
    END
    POPUP "&Find"
    BEGIN
        MENUITEM "&Find...\tCtrl+F", ID_EDIT_FIND
        MENUITEM "Find &Next\tF3", ID_EDIT_FINDNEXT
        MENUITEM "Find Pre&vious\tShift+F3", ID_EDIT_FINDPREV
        MENUITEM "&Replace...\tCtrl+H", ID_EDIT_REPLACE

        MENUITEM "&Go To...\tCtrl+G", ID_EDIT_GOTO
    END
    POPUP "&View"
    BEGIN
        MENUITEM "Zoom &In\tCtrl++", ID_VIEW_ZOOMIN
        MENUITEM "Zoom &Out\tCtrl+-", ID_VIEW_ZOOMOUT
        MENUITEM SEPARATOR
        MENUITEM "&Status Bar", ID_VIEW_STATUSBAR
        MENUITEM "&Word Wrap", ID_VIEW_WORDWRAP
    END

    POPUP "&Help"
    BEGIN
        MENUITEM "&About", ID_HELP_ABOUT
    END
END


IDR_CONTEXTMENU MENU
BEGIN
    POPUP "Context"
    BEGIN
        MENUITEM "Cu&t\tCtrl+X", ID_EDIT_CUT
        MENUITEM "&Copy\tCtrl+C", ID_EDIT_COPY
        MENUITEM "&Paste\tCtrl+V", ID_EDIT_PASTE
        MENUITEM "De&lete\tDel", ID_EDIT_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Select &All\tCtrl+A", ID_EDIT_SELECTALL
        MENUITEM "Expand Selection\tShift+Alt+Right", ID_EDIT_EXPAND_SELECTION
        MENUITEM "Shrink Selection\tShift+Alt+Left", ID_EDIT_SHRINK_SELECTION
        MENUITEM "Expand Selection to Line", ID_EDIT_SELECTLINE
        MENUITEM "Duplicate Selection\tCtrl+D", ID_EDIT_DUPLICATESELECTION
        MENUITEM SEPARATOR
        MENUITEM "Next Subword", ID_EDIT_NEXTSUBWORD
        MENUITEM "Previous Subword", ID_EDIT_PREVSUBWORD
        MENUITEM SEPARATOR
        MENUITEM "&Uppercase\tCtrl+Shift+U", ID_EDIT_UPPERCASE
        MENUITEM "&Lowercase\tCtrl+U", ID_EDIT_LOWERCASE
        MENUITEM "&Capitalize", ID_EDIT_CAPITALIZE
        MENUITEM "&Sentence Case", ID_EDIT_SENTENCECASE
        MENUITEM SEPARATOR
        MENUITEM "&Sort Lines", ID_EDIT_SORTLINES
        // MENUITEM "&Join Lines", ID_EDIT_JOINLINES // removed
        MENUITEM "&Indent Line", ID_EDIT_INDENT
        MENUITEM "&Unindent", ID_EDIT_UNINDENT
        MENUITEM SEPARATOR
        MENUITEM "Copy Line", ID_EDIT_COPYLINE
        MENUITEM "Delete Line\tCtrl+Shift+L", ID_EDIT_DELETELINE
        MENUITEM "Duplicate\tCtrl+D", ID_EDIT_DUPLICATESELECTION
        MENUITEM "Move Line Up", ID_EDIT_MOVELINEUP
        MENUITEM "Move Line Down", ID_EDIT_MOVELINEDOWN
    END
END

IDR_ACCELERATOR ACCELERATORS
BEGIN
    "N", ID_FILE_NEW, VIRTKEY, CONTROL
    "O", ID_FILE_OPEN, VIRTKEY, CONTROL
    "S", ID_FILE_SAVE, VIRTKEY, CONTROL
    "S", ID_FILE_SAVEAS, VIRTKEY, SHIFT, CONTROL
    "P", ID_FILE_PRINT, VIRTKEY, CONTROL
    "S", ID_PLUGIN_SEARCH, VIRTKEY, SHIFT, ALT
    "Z", ID_EDIT_UNDO, VIRTKEY, CONTROL
    "Y", ID_EDIT_REDO, VIRTKEY, CONTROL
    "X", ID_EDIT_CUT, VIRTKEY, CONTROL
    "C", ID_EDIT_COPY, VIRTKEY, CONTROL
    "V", ID_EDIT_PASTE, VIRTKEY, CONTROL
    "F", ID_EDIT_FIND, VIRTKEY, CONTROL

    VK_F3, ID_EDIT_FINDNEXT, VIRTKEY
    VK_F3, ID_EDIT_FINDPREV, VIRTKEY, SHIFT
    "H", ID_EDIT_REPLACE, VIRTKEY, CONTROL
    "G", ID_EDIT_GOTO, VIRTKEY, CONTROL
    "A", ID_EDIT_SELECTALL, VIRTKEY, CONTROL
    VK_RIGHT, ID_EDIT_EXPAND_SELECTION, VIRTKEY, SHIFT, ALT
    VK_LEFT, ID_EDIT_SHRINK_SELECTION, VIRTKEY, SHIFT, ALT
    "L", ID_EDIT_COPYLINE, VIRTKEY, CONTROL
    "L", ID_EDIT_DELETELINE, VIRTKEY, SHIFT, CONTROL
    "D", ID_EDIT_DUPLICATESELECTION, VIRTKEY, CONTROL
    VK_DOWN, ID_EDIT_DUPLICATELINE, VIRTKEY, SHIFT, ALT
    VK_UP, ID_EDIT_MOVELINEUP, VIRTKEY, ALT
    VK_DOWN, ID_EDIT_MOVELINEDOWN, VIRTKEY, ALT
    VK_RIGHT, ID_EDIT_NEXTSUBWORD, VIRTKEY, CONTROL, ALT
    VK_LEFT, ID_EDIT_PREVSUBWORD, VIRTKEY, CONTROL, ALT
    "U", ID_EDIT_UPPERCASE, VIRTKEY, SHIFT, CONTROL
    "U", ID_EDIT_LOWERCASE, VIRTKEY, CONTROL
    VK_ESCAPE, ID_EDIT_CANCEL_SELECTION, VIRTKEY
    // No accelerator for Join Lines (removed)
    VK_ADD, ID_VIEW_ZOOMIN, VIRTKEY, CONTROL
    VK_SUBTRACT, ID_VIEW_ZOOMOUT, VIRTKEY, CONTROL
END

IDD_GOTO DIALOGEX 0, 0, 186, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Go To Line"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "&Line Number:",-1,7,7,42,8
    EDITTEXT        IDC_GOTO_LINE,7,17,172,14,ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON   "Go To",IDOK,75,41,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,129,41,50,14
END



IDD_ABOUT DIALOGEX 0, 0, 180, 90
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Just Notepad"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            IDI_ICON,-1,14,14,21,20
    LTEXT           "Just Notepad v 0.1",-1,45,14,100,8
    LTEXT           "Created by Martin Petkovski",-1,45,26,120,8
    LTEXT           "This software is Freeware.",-1,45,38,120,8
    CONTROL         "<a href=""https://www.najjak.com/justnotepad"">Official Website</a>",-1,"SysLink",WS_TABSTOP,45,50,120,10
    DEFPUSHBUTTON   "OK",IDOK,65,69,50,14
END

IDD_MANAGE_PLUGINS DIALOGEX 0, 0, 300, 292
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Manage Plugins"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Search:",-1,7,9,30,8
    EDITTEXT        IDC_MANAGE_PLUGINS_SEARCH,40,7,253,14,ES_AUTOHSCROLL
    LTEXT           "Installed Plugins (Uncheck to disable):",-1,7,25,150,8
    CONTROL         "",IDC_MANAGE_PLUGINS_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_BORDER | WS_TABSTOP,7,35,286,120
    LTEXT           "Description:",-1,7,160,40,8
    LTEXT           "",IDC_MANAGE_PLUGINS_DESC,7,170,286,20
    LTEXT           "License:",-1,7,195,40,8
    EDITTEXT        IDC_MANAGE_PLUGINS_LICENSE,7,205,286,60,ES_MULTILINE | ES_READONLY | WS_VSCROLL
    LTEXT           "* Changes take effect immediately.",-1,7,270,150,8
    DEFPUSHBUTTON   "OK",IDOK,189,271,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,243,271,50,14
END

IDD_PLUGIN_SEARCH DIALOGEX 0, 0, 300, 200
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Search Commands"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Search:",-1,7,9,26,8
    EDITTEXT        IDC_PLUGIN_SEARCH_TEXT,35,7,258,14,ES_AUTOHSCROLL
    LISTBOX         IDC_PLUGIN_SEARCH_LIST,7,25,286,148,LBS_NOINTEGRALHEIGHT | LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "Run",IDOK,189,179,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,243,179,50,14
END
