#include <windows.h>
#include "resource.h"

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N", ID_FILE_NEW
        MENUITEM "&Open...\tCtrl+O", ID_FILE_OPEN
        MENUITEM "&Save\tCtrl+S", ID_FILE_SAVE
        MENUITEM "Save &As...", ID_FILE_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "Page Set&up...", ID_FILE_PAGESETUP
        MENUITEM "&Print...\tCtrl+P", ID_FILE_PRINT
        MENUITEM SEPARATOR
        MENUITEM "Open Containing &Folder", ID_FILE_OPENFOLDER
        MENUITEM "Open in &Command Prompt", ID_FILE_OPENCMD
        MENUITEM "Open in &Default App", ID_FILE_OPENDEFAULT
        MENUITEM SEPARATOR
        MENUITEM "&Read Only", ID_FILE_TOGGLEREADONLY
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z", ID_EDIT_UNDO
        MENUITEM "&Redo\tCtrl+Y", ID_EDIT_REDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X", ID_EDIT_CUT
        MENUITEM "&Copy\tCtrl+C", ID_EDIT_COPY
        MENUITEM "&Paste\tCtrl+V", ID_EDIT_PASTE
        MENUITEM "De&lete\tDel", ID_EDIT_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Copy Line\tCtrl+L", ID_EDIT_COPYLINE
        MENUITEM "Delete Line\tCtrl+Shift+K", ID_EDIT_DELETELINE
        MENUITEM "Duplicate Line\tShift+Alt+Down", ID_EDIT_DUPLICATELINE
        MENUITEM "Duplicate Selection", ID_EDIT_DUPLICATESELECTION
        MENUITEM "Move Line Up\tAlt+Up", ID_EDIT_MOVELINEUP
        MENUITEM "Move Line Down\tAlt+Down", ID_EDIT_MOVELINEDOWN
        MENUITEM SEPARATOR
        MENUITEM "&Find...\tCtrl+F", ID_EDIT_FIND
        MENUITEM "Find &Next\tF3", ID_EDIT_FINDNEXT
        MENUITEM "Find Pre&vious\tShift+F3", ID_EDIT_FINDPREV
        MENUITEM "&Replace...\tCtrl+H", ID_EDIT_REPLACE
        MENUITEM "&Go To...\tCtrl+G", ID_EDIT_GOTO
        MENUITEM SEPARATOR
        MENUITEM "Expand Selection\tShift+Alt+Right", ID_EDIT_EXPAND_SELECTION
        MENUITEM "Expand Selection to Line\tCtrl+L", ID_EDIT_SELECTLINE
        MENUITEM "Shrink Selection\tShift+Alt+Left", ID_EDIT_SHRINK_SELECTION
        MENUITEM SEPARATOR
        POPUP "Con&vert Case"
        BEGIN
            MENUITEM "&Uppercase", ID_EDIT_UPPERCASE
            MENUITEM "&Lowercase", ID_EDIT_LOWERCASE
            MENUITEM "&Capitalize", ID_EDIT_CAPITALIZE
            MENUITEM "&Sentence Case", ID_EDIT_SENTENCECASE
        END
        POPUP "&Lines"
        BEGIN
            MENUITEM "&Sort Lines", ID_EDIT_SORTLINES
            MENUITEM "&Join Lines", ID_EDIT_JOINLINES
            MENUITEM "&Indent", ID_EDIT_INDENT
            MENUITEM "&Unindent", ID_EDIT_UNINDENT
        END
        MENUITEM "Next Subword\tCtrl+Alt+Right", ID_EDIT_NEXTSUBWORD
        MENUITEM "Previous Subword\tCtrl+Alt+Left", ID_EDIT_PREVSUBWORD
        MENUITEM SEPARATOR
        MENUITEM "Select &All\tCtrl+A", ID_EDIT_SELECTALL
    END
    POPUP "&View"
    BEGIN
        MENUITEM "Zoom &In\tCtrl++", ID_VIEW_ZOOMIN
        MENUITEM "Zoom &Out\tCtrl+-", ID_VIEW_ZOOMOUT
        MENUITEM SEPARATOR
        MENUITEM "&Status Bar", ID_VIEW_STATUSBAR
        MENUITEM "&Word Wrap", ID_VIEW_WORDWRAP
    END
END

IDR_ACCELERATOR ACCELERATORS
BEGIN
    "N", ID_FILE_NEW, VIRTKEY, CONTROL
    "O", ID_FILE_OPEN, VIRTKEY, CONTROL
    "S", ID_FILE_SAVE, VIRTKEY, CONTROL
    "P", ID_FILE_PRINT, VIRTKEY, CONTROL
    "Z", ID_EDIT_UNDO, VIRTKEY, CONTROL
    "Y", ID_EDIT_REDO, VIRTKEY, CONTROL
    "X", ID_EDIT_CUT, VIRTKEY, CONTROL
    "C", ID_EDIT_COPY, VIRTKEY, CONTROL
    "V", ID_EDIT_PASTE, VIRTKEY, CONTROL
    "F", ID_EDIT_FIND, VIRTKEY, CONTROL
    VK_F3, ID_EDIT_FINDNEXT, VIRTKEY
    VK_F3, ID_EDIT_FINDPREV, VIRTKEY, SHIFT
    "H", ID_EDIT_REPLACE, VIRTKEY, CONTROL
    "G", ID_EDIT_GOTO, VIRTKEY, CONTROL
    "A", ID_EDIT_SELECTALL, VIRTKEY, CONTROL
    VK_RIGHT, ID_EDIT_EXPAND_SELECTION, VIRTKEY, SHIFT, ALT
    VK_LEFT, ID_EDIT_SHRINK_SELECTION, VIRTKEY, SHIFT, ALT
    "L", ID_EDIT_COPYLINE, VIRTKEY, CONTROL
    "K", ID_EDIT_DELETELINE, VIRTKEY, SHIFT, CONTROL
    VK_DOWN, ID_EDIT_DUPLICATELINE, VIRTKEY, SHIFT, ALT
    VK_UP, ID_EDIT_MOVELINEUP, VIRTKEY, ALT
    VK_DOWN, ID_EDIT_MOVELINEDOWN, VIRTKEY, ALT
    VK_RIGHT, ID_EDIT_NEXTSUBWORD, VIRTKEY, CONTROL, ALT
    VK_LEFT, ID_EDIT_PREVSUBWORD, VIRTKEY, CONTROL, ALT
    VK_ADD, ID_VIEW_ZOOMIN, VIRTKEY, CONTROL
    VK_SUBTRACT, ID_VIEW_ZOOMOUT, VIRTKEY, CONTROL
END

IDD_GOTO DIALOGEX 0, 0, 186, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Go To Line"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "&Line Number:",-1,7,7,42,8
    EDITTEXT        IDC_GOTO_LINE,7,17,172,14,ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON   "Go To",IDOK,75,41,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,129,41,50,14
END
