#include <windows.h>
#include "resource.h"

IDD_CHARMAP DIALOGEX 0, 0, 400, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Character Map"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    LTEXT           "Font:",-1,7,9,18,8
    COMBOBOX        IDC_FONT_COMBO,30,7,150,100,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Range:",-1,190,9,24,8
    COMBOBOX        IDC_RANGE_COMBO,220,7,173,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LISTBOX         IDC_CHAR_GRID,7,25,386,240,LBS_OWNERDRAWFIXED | LBS_NODATA | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "Insert",IDOK,289,275,50,14
    PUSHBUTTON      "Close",IDCANCEL,343,275,50,14
END
